@import "variables.css";

html{
	background-color: var(--black);
	font-family: 'Noto Sans JP', sans-serif;
}


h1{
	color: var(--white);
	font-size: var(--h1);
}

h2{
	color: var(--white);
	font-size: var(--h2);
}

h3{
	color: var(--white);
	font-size: var(--h3);
}

p{
	color: var(--white);
	font-size: var(--p);
}




.button{
	background-color: var(--primary-color);
	color:var(--white);
	padding: var(--space-2);
	border-radius: var(--radius);
	display:inline;
}




/*Componentes*/


.carita_maria{
	font-size: 100px;
}

#respond{

	font-size: 100px;
	color: var(--white);
	font-weight: 700;

}

.carita_maria, #respond{
	text-align: center;
}

#respond_user{
	height: 50px;
	width: 510px;
}

